.header {
    display: flex;
    justify-content: center;
    align-items: center;
    .header-content {
        display: flex;
        .header-titles {
            display: flex;
            align-items: center;
        }
        .header-title {
            margin-left: 2em;
            .header-sub {
                height: 100%;
                //margin-top: 0.5em;
                display: flex;
            }
            /*margin-right: 2em;*/
            .header-buttons-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 2em;
                flex-direction: column;
                .header-locale {
                    margin-bottom: 1em;
                }
            }
        }
        .header-logos {
            display: flex;
            justify-content: center;
            align-items: center;
            .eurobot-logo {
                margin-right: 0em;
            }
        }
    }
}
.form {
    margin-top: 1em;
    margin-bottom: 1em;
}
.scoreboard {
    padding: 1em;
}
.framed {
    overflow: hidden;
    .main-container {
        padding: 0;
        margin: 0;
        max-width: 100% !important;
    }
}
.without-header {
    .header {
        display: none;
    }
}
.textfield-list {
    font-weight: 500 !important;
    font-size: 1.2em !important;
    margin-bottom: .5em;
}

.footer-container {
    .footer-content {
        opacity: 0.8;
        transition: 0.2s opacity ease-in-out;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;
        text-decoration: none;

        .github-icon img {
            width: 3em;
        }

        .github-description {
            margin-left: 1.5em;
        }
    }
}

@media (max-width: 800px) {
    .header {
        justify-content: center;
        flex-direction: column;
        .header-content {
            flex-direction: column;
            .header-title {
                margin-left: 0;
                text-align: center;
                .header-sub {
                    margin-top: 0;
                    flex-direction: column;
                }
                .header-buttons-container {
                    margin-top: 1em;
                    padding-left: 0;
                }
            }
            .header-logos {
                .eurobot-logo {
                    margin-right: 0em;
                }
            }
        }
    }
    .textfield-list {
        text-transform: uppercase;
    }
}